:root {
  --celesteClaro: #F3F6F9;
  --celesteOscuro: #DFE7F0;
  --blanco: #FFFFFF;
  --grisClaro: #00000029;
  --grisBlanco: #E6EBF0;
  --grisMedio: #8A98A8;
  --grisSombra: #DFE7F0;
  --grisOscuro: #333333;
  --azulClaro: #5C6A7A;
  --azulMedio: #505E70;
  --azulOscuro: #38485C;
  --amarilloClaro: #FCDA59;
  --amarilloMedio: #FFDB2E;
  --azulActivo: #007BC7;

  --fontExtraChica: 13px;  /*13px*/
  --fontChica: 1.1vw; /*14px*/
  --fontMedia:16px; /*16px*/
  --fontGrande: 18px; /*18px*/
  --fontExtraGrande: 24px; /*24px*/

  --fontFamily1:'Nunito';
  --fontFamily2:'Open Sans';

  --lineHeightChica:19px;
  --lineHeightMedio:20px;
  --lineHeightGrande:24px;
  --lineHeightExtraGrande:44px;

}
html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--celesteClaro);
  position: relative;
  height: fit-content;
  text-decoration: none;
}

/* ========== HEADER ========== */

header{
  position: absolute;
  width: 100vw; /*1364px*/
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw; /*1364px*/
  height: 80px;
  background-color: var(--blanco);
  box-shadow: 0px 3px 6px var(--grisClaro);
  opacity: 1;
  position: relative;
}
#logo{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 7vw;
  width: 159px;
  height: auto;
  opacity: 1;
}
.formato-position{
  display: flex !important;
  align-items: flex-end !important;
  justify-content: right !important;
  width: auto !important;
  position: absolute;
  right: 10vw;
  transform: scale(1.1);

}
#dropdownMenuLink{
  border: none;
  padding: 0 !important;
}
.formato-menu{
  width: 340px;
  height: fit-content;
  background: var(--blanco) 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 12px #38485C29;
  border-radius: 8px;
  margin: 0!important;
  padding: 0!important;
  padding-top:8px !important;
  padding-bottom:8px !important;
}
.formato-opcion{
  margin: 2px 8px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 4px;
  position: relative;
}
.formato-opcion:hover{
  background-color: var(--celesteClaro);
}
.formato-opcion:active:hover {
  background-color: var(--grisBlanco) ;
}
.formato-opcion:active:hover .btn_cancelar{
  visibility: visible;
}
.formato-item{
  margin: 0;
  padding: 8.6px 8px ;
  height: fit-content;
  width: 308px;
  text-align: left;
  font: normal normal normal var(--fontMedia)/var(--fontExtraGrande) var(--fontFamily2);
  letter-spacing: 0px;
  color: #38485C;
  
}
.formato-item:active {
  color: var(--azulActivo) ;
  text-decoration: none ;
  background-color: transparent ;
}
.dropdown-item:hover{
  background-color: transparent;
}
.btn_cancelar{
  visibility: hidden;
  position: absolute;
  top: 25%;
  right: 10px;
  cursor: pointer;
  z-index: 100;
}
ion-icon{
  width: 20px ;
  height: 20px ;
}
/* ========== MAIN ========== */

main{
  position: absolute;
  top: 11vh; 
  left: 10vw;
  width: 79.5vw;/*1364px  x 0.795 = 1085px*/
  height: 58.7vh;/*1310px x 0.587 = 769px*/
  background-color: var(--blanco);
  border: 1px solid var(--celesteOscuro);
  border-radius: 22px;
  opacity: 1;
  overflow: auto;

}
  .contenedor{
    padding: 4vw 4.4vw ;
  }
    #formulario #registro .texto{
      border-bottom: solid 1px var(--celesteOscuro);
      padding-bottom: 22px;
    }
      .texto p{
        font-family: 'var(--fontFamily2)', sans-serif;
        font-weight: 400;
        font-size: 1.3vw;/*var(--fontMedia)*/
        color: var(--azulMedio);
        word-spacing: 0px;
        line-height: var(--fontExtraGrande);
        width: auto;
        height: 22px;
        margin: 0;
      }
      h2{
        font-family: 'var(--fontFamily1)', sans-serif;
        font-weight: 700;
        font-size: var(--fontExtraGrande);
        color: var(--azulOscuro);
        word-spacing: -2px;
        line-height: var(--lineHeightGrande);
        width: auto;
        height: 32px;
        margin: 0;
      }
    #formulario #direccionPersonal .texto h2{
      border-bottom: solid 1px var(--celesteOscuro);
    }
      #registro .formA{
        margin-bottom: 35px;
      }
      #direccionPersonal .formA {
        margin-top: 37px;
      }
        .bloques{
          display: inline-block;
          width: fit-content;
        }
        .form_contenedor{
          margin: 15px 0 0 0;
          display: flex;
          flex-direction: column-reverse;
          justify-content: start;
          align-items: left;
          position:relative;
        }
          label{
          font-family: 'var(--fontFamily2)', sans-serif;
          font-weight: 400;
          font-size: var(--fontExtraChica);
          color: var(--azulOscuro);
          word-spacing: 0px;
          line-height: var(--lineHeightMedio);
          margin-bottom: 4px;
          }
          input{
            height: 22px;
            padding: var(--fontExtraChica) 8px var(--fontExtraChica) var(--fontMedia);
            background: var(--celesteClaro) 0% 0% no-repeat padding-box;
            border: 1px solid var(--grisMedio);
            border-radius: 4px;
            font-size: 22px;
            color: var(--azulOscuro);
            position: relative;
          }
          #Nombre,#Apellido,#Direccion,#Localidad{
            width: 316px;
            height: 48px;
            background: var(--celesteClaro) 0% 0% no-repeat padding-box;
            border: 1px solid var(--grisMedio);
            border-radius: 4px;
            font-size: 22px;
            color: var(--azulOscuro);
          }
          .margen{
            margin-right: 17px;
          }
          #Fecha{
            width: 250px;
            font-size: var(--fontMedia);
            color: var(--grisMedio);
            height: 48px;
            background: var(--celesteClaro) 0% 0% no-repeat padding-box;
            border: 1px solid var(--grisMedio);
            border-radius: 4px;
            font-size: 22px;
            box-shadow: none !important;
            color: var(--grisMedio);
          }
          #Fecha:focus{
            color: var(--azulOscuro);

          }
          #Selector{
            height: 48px;
            padding: var(--fontExtraChica) 8px 10px var(--fontMedia);
            background: var(--celesteClaro) 0% 0% no-repeat padding-box;
            border: 1px solid var(--grisMedio);
            border-radius: 4px;
            font-family: 'var(--fontFamily2)', sans-serif;
            font-weight: 400;
            font-size: var(--fontMedia);
            width: 243px;
            color: var(--azulOscuro);
          }
          #seleccionada{
            color: var(--grisMedio);
          }
          .deseleccionada{
            color: var(--grisMedio) !important;
          }
          #numeroA,#numeroB{
            width: 154px;
            padding: var(--fontExtraChica) var(--fontMedia);
            height: 48px;
            background: var(--celesteClaro) 0% 0% no-repeat padding-box;
            border: 1px solid var(--grisMedio);
            border-radius: 4px;
            font-size: 22px;
          }
          #numeroA:invalid,#numeroB:invalid,#Fecha:invalid {
            border: #C93B3B solid 2px !important;
          }
            ::placeholder{ 
              font-family: 'var(--fontFamily2)', sans-serif;
              font-weight: 400;
              font-size: var(--fontMedia);
              color: var(--grisMedio);
              word-spacing: 0px;
              line-height: var(--lineHeightGrande);
              position: absolute;
              top: 25%;
            }
        .check{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin: 36px 0 52px 0;
          /* padding: 6px 10px 2px 10px; */
          position: relative;
        }
          .check input{
            height: initial;
            transform: scale(1.5);
            box-shadow: 0 0 0 1px var(--azulOscuro);
            z-index: 2;
          }
          .check label{
            text-align: left;
            margin-left: 12px;
            z-index: 2;
          }
            .texto_checkbox{
              font-family: 'var(--fontFamily2)', sans-serif;
              font-weight: 400;
              font-size: var(--fontMedia);
              color: var(--azulOscuro);
              word-spacing: 0px;
              line-height: var(--fontExtraGrande);
              padding-top: 3px;
            }
        #sombra{
          position: absolute;
          width: 420px;
          height: 40px;
          background: var(--celesteClaro) 0% 0% no-repeat padding-box;
          border-radius: 22px;
          visibility: hidden;
          z-index: 0;
        }
        .check:hover #sombra{
          visibility: visible;
        }
        .hoverlabel::before {
          content: attr(datahover);
          visibility: hidden;
          background: var(--blanco);
          color: var(--azulOscuro);
          border-radius: 5px;
          width: 400px;
          height: fit-content;
          position: absolute;
          font-size: var(--fontMedia);
          padding-top: 3px;
        }
        #checkbox:checked ~.hoverlabel:before{
          visibility: visible;
          z-index: 1;
        }
        #checkbox:focus ~.hoverlabel:before{
          visibility: visible;
          z-index: 1;
        }
        #checkbox:checked ~#sombra,#checkbox:focus ~#sombra{
          visibility: hidden;
        }
    #btns{
      width: 70.7vw;/*965px*/
    }   
    #btns > div{
      display: flex;
      justify-content: right;
      align-items: flex-end;      
    } 
      .volver{
        font-family: 'var(--fontFamily2)', sans-serif;
        font-weight: 600;
        font-size: var(--fontGrande);
        word-spacing: 0px;
        line-height: var(--lineHeightMedio);
        text-transform: capitalize;
        border: none;
        width: 103px;
        height: 48px;
        background: var(--azulClaro) 0% 0% no-repeat padding-box;
        border-radius: 4px;
        margin-right: 11px;
        color: var(--blanco);
      }
      .registrate{
        font-family: 'var(--fontFamily2)', sans-serif;
        font-weight: 600;
        font-size: var(--fontGrande);
        color: var(--azulOscuro);
        word-spacing: 0px;
        line-height: var(--lineHeightMedio);
        width: 136px;
        height: 48px;
        background: var(--amarilloMedio) 0% 0% no-repeat padding-box;
        border: none;
        border-radius: 4px;
        opacity: 1;
      }

      /* ==HOVER== */
      
    .hovertext {
      position: relative;
      z-index: 0;
    }
    .hovertext::before {
      content: attr(datahover);
      visibility: hidden;
      background: #fff;
      color: var(--azulOscuro);
      border-radius: 5px;
      width: 160px;
      height: fit-content;
      position: absolute;
      top: 0vh;
      left: 0vw;
    }
    .caja:hover ~.hovertext:before,.caja:focus ~.hovertext:before,.caja:active ~.hovertext:before{
      visibility: visible;
      z-index: 1;
    }
    span{
      height: 15px;
      font-family: 'var(--fontFamily2)', sans-serif;
      font-weight: 400;
      font-size: var(--fontExtraChica);
      color: #C93B3B;
      word-spacing: 0px;
      line-height: var(--lineHeightMedio);
      margin-bottom: 4px;
    }
    .error{
      border: #C93B3B solid 2px !important;
    }
    .ok{
      border: #26874A solid 2px !important;
    }
    .asistencia{
      color:var(--azulMedio);
    }
    .requerido{
      z-index: 3;
      background-color: #fff;
    }

/* ========== FOOTER ========== */

footer{
  position: absolute;
  top: 81.6vh;
  left: 0px;
  width: 100vw;
  height: 20.2vh;
  background: var(--grisOscuro) 0% 0% no-repeat padding-box;
  opacity: 1;
  border-top: var(--amarilloClaro) solid 3px;
}
  footer > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #footer1,#footer2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 79.5vw;
    height: calc(20.2vh/2);
  }
  #footer1{
    border-bottom: solid 1px var(--celesteClaro);
  }
    .logo2{
      display: flex;
      justify-content: space;
      align-items: center;
    }
      .logo2 img{
        height: auto;
        width: 18.8vw;
        transform: translateX(-20px);
      }
    .lista_redes{
      width: auto;
      height: auto;
    }
      .lista_redes a img{
  transform: scale(.7);
  margin-left: 8px;
      }
        #instagram img{
          transform: scale(.54) !important;
        }
        #rss img{
          transform: scale(.44) !important;
        }
    #informacion{
      text-align: right;
    }
      #lista_informacion{
        display: flex;
        }
        #lista_informacion li{
          list-style: none;
          margin-right: 20px;
          text-decoration: underline;
          text-decoration-color: var(--blanco);
        }
          #lista_informacion li a{
            text-decoration: none;
            font-family: 'var(--fontFamily2)', sans-serif;
            font-weight: 600;
            font-size: 1.1vw;/*14px*/
            word-spacing: 0px;
            line-height: var(--lineHeightChica);
            color: var(--blanco);
            text-align: left;
          }
          
/* ======MEDIA QUERY====== */
@media only screen and (min-width: 2560px) {
  .texto p{
    font-size: .65vw;
  }
  .formA{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .hoverlabel::before {
    content: attr(datahover);
    visibility: hidden;
    background: var(--blanco);
    color: var(--azulOscuro);
    border-radius: 5px;
    width: 62vw;
    height: 50px;
    position: absolute;
    font-size: var(--fontMedia);
    padding-top: 1px;
  }
}
@media only screen and (max-width: 1364px) {
  .formA{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .hoverlabel::before {
    content: attr(datahover);
    visibility: hidden;
    background: var(--blanco);
    color: var(--azulOscuro);
    border-radius: 5px;
    width: 62vw;
    height: 50px;
    position: absolute;
    font-size: var(--fontMedia);
    padding-top: 12px;

  }
}
@media only screen and (max-width: 768px) {
  .texto p{
    font-size: 2vw;
  }
  .formA{
    display: grid;
    grid-template-columns: 1fr;
  }
  .hoverlabel::before {
    content: attr(datahover);
    visibility: hidden;
    background: var(--blanco);
    color: var(--azulOscuro);
    border-radius: 5px;
    width: 62vw;
    height: 50px;
    position: absolute;
    font-size: var(--fontMedia);
    padding-top: 1px;
  }
  #Nombre,#Apellido{
    width: 300px;
  }
}
@media only screen and (max-width: 426px) {
  #Nombre,#Apellido,#Fecha,#Selector,#Direccion,#Localidad{
    width: 60vw;
  }
  .hoverlabel::before {
    content: attr(datahover);
    visibility: hidden;
    background: var(--blanco);
    color: var(--azulOscuro);
    border-radius: 5px;
    width: 62vw;
    height: 50px;
    position: absolute;
    font-size: var(--fontMedia);
    padding-top: 12px;

  }
  #btns div{
    justify-content: left;
  }
  main{
    overflow-x: hidden;
  }
  .texto p{
    font-size: 3vw;
  }
}
@media only screen and (max-width: 520px) {
  .logo{
    transform: translateX(50px);
  }
  #lista_redes{
    display: flex;
    margin: 0;
  }
  #lista_redes a{
    width: 30px;
  }
  #lista_redes a img{
    transform: scale(.3);
    margin-left: 0px;
  }
  #instagram img{
    transform: scale(.3) !important;
  }
  #rss img{
    transform: scale(.3) !important;
  }
  #lista_informacion li {
    text-align: center;  
  }
  #lista_informacion li a{
    text-decoration: none;
    font-family: 'var(--fontFamily2)', sans-serif;
    font-weight: 600;
    font-size: 1.4vw;/*14px*/
    word-spacing: 0px;
    line-height: var(--lineHeightChica);
    text-decoration: underline;
    
  
  }
}
@media only screen and (max-width: 319px) {
  html{
    display: none;
  }
}
@media only screen and (max-height: 800px) {
  main{
    top: 116px;
  }
}
@media only screen and (max-height: 319px) {
  html{
    display: none;
  }
}
